{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Auctions{% endblock %}</title>
    <link href="{% static 'auctions/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Auction Guru</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Active Listings
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'new_listing' %}">New Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listings' user %}">My Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'wishlist' %}">My Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="navbar-nav nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link active">Signed in as <strong>{{ user.username }}</strong></a>
                    {% else %}
                    <a class="nav-link">Not signed in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <hr>
    {% block body %}
    {% endblock %}
</body>

</html>