{% extends "auctions/layout.html" %}

{% block body %}

{% if listing_type == 'user' %}
<h2>Listings of {{ user }}</h2><br />
{% elif listing_type == 'wishlist' %}
<h2>Wishlist</h2><br />
{% else %}
<h2>Active listings</h2><br />
{% endif %}

<div class="row">
  {% for listing_data in listings_data %}
  <div class="col-lg-3">
    <div class="bs-component">
      <div class="card mb-3">
        <h3 class="card-header">{{ listing_data.title }}</h3>
        <div class="card-body">
        </div>
        <img src="{{ listing_data.url }}" class="d-block user-select-none" width="100%" height="200"
          aria-label="Placeholder: {{ listing_data.title }}" focusable="false" role="img"
          preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        </img>
        {% if listing_data.get_highest_bid is None %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Initial value: R${{ listing_data.value }}</li>
          <li class="list-group-item">No bids yet</li>
        </ul>
        {% else %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Bid: R${{ listing_data.get_highest_bid }}</li>
          <li class="list-group-item">Initial value: R${{ listing_data.value }}</li>
          <li class="list-group-item">Bid count: {{ listing_data.get_bid_count }}</li>
        </ul>
        {% endif %}
        <div class="card-body">
          <a href="{% url 'listing' listing_data.pk %}" class="card-link">Go to listing</a>
        </div>
        <div class="card-footer text-muted">
          Created {{ listing_data.time_elapsed_since_created }} ago
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  {% if listing_type == 'wishlist' %}
  No wishes yet &#128542
  {% endif %}
  {% endfor %}
</div>





{% endblock %}