{% extends "auctions/layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}

<h2>Login</h2><br />

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="form-group">
            <label for="username" class="form-label mt-4">Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="username">
        </div>
        <div class="form-group">
            <label for="password" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" name="password" aria-describedby="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </fieldset>
</form>

Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}